<!DOCTYPE html>
<html>
<head>
    <title>메모 서비스</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <meta name="_csrf_parameter" content="{{_csrf.parameterName}}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">메모 서비스</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    {{#googleName}}
                        <span class="navbar-text mr-2">Logged in as: {{googleName}}</span>
                        <a href="#" class="btn btn-info btn-sm active" id="btn-logout" role="button">Logout</a>
                    {{/googleName}}
                    {{^googleName}}
                        <a href="/oauth2/authorization/google" class="btn btn-success btn-sm active" role="button">Login</a>
                    {{/googleName}}
                </li>
            </ul>
        </div>
    </div>
</nav>