name: Java CI with Gradle

on:
  push:
    branches: [ "dev" ] 
  pull_request:
    branches: [ "dev" ] 

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 기본 체크아웃
    - name: Checkout
      uses: actions/checkout@v3

    # Gradlew 실행 허용
    - name: Run chmod to make gradlew executable
      run: chmod +x ./gradlew

    # JDK 17로 세팅 (Spring Boot 3.x 필수)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    # 4Gradle build (Test 포함, 액션 버전 v3, 환경 변수 주입)
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3
      with:
        arguments: clean build
        cache-disabled: true
      env:
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

    # Docker Hub 로그인
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Docker 이미지 빌드, 태그, 푸시를 한 번에 처리
    - name: Build, tag, and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend-deep-dive:${GITHUB_SHA::7} .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend-deep-dive:${GITHUB_SHA::7}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Deploy to GCP VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.GCP_VM_HOST }}
        username: ${{ secrets.GCP_VM_USERNAME }}
        key: ${{ secrets.GCP_VM_SSH_KEY }}
        port: 22

        script: |
          TAG=${{ needs.build.outputs.tag }}
          
          echo "Username is: [${{ secrets.DOCKERHUB_USERNAME }}]"
          echo "Tag is: [$TAG]"
          
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/backend-deep-dive:${GITHUB_SHA::7}
          
          docker stop memo-app || true
          docker rm memo-app || true
          
          docker run -d --name memo-app \
            -p 9090:9090 \
            -e DB_URL=${{ secrets.DB_URL }} \
            -e DB_USERNAME=${{ secrets.DB_USERNAME }} \
            -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            -e GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }} \
            -e GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }} \
            ${{ secrets.DOCKERHUB_USERNAME }}/backend-deep-dive:${GITHUB_SHA::7}